@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family:"Schibsted";
    src: url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
}
@font-face {
    font-family:"lora";
    src: url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.show_slider{
  display:flex;
  animation: 40s slide infinite linear;
}
.show_slider img{
  margin-left:24px;
  height:357px;
  
}
.scroll_conntaner{
  display: flex;
}
@keyframes slide{
  form{
      transform:translateX(0%);
  }
  to{
      transform:translateX(-100%);
  }
}
.scroll_conntaner.show:hover.logo_slider{
  animation-play-state:paused;

}
.show::before{
  position: absolute;
  top:0;
  left:0;
  width:355px;
  height: 357px;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
  content:"";
  z-index:2;
}
.show::after{
  position: absolute;
  top:0;
  right:0;
  width:355px;
  height: 357px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 255, 255));
  content:"";
  z-index:2;
}


@layer components {
    .head_t {
      @apply text-black text-[16px] transition hover:underline font-bold;
    }
    .main_but{
      @apply border-2 mt-8 mx-auto border-black rounded-full font-semibold p-1 text-[14px] hover:bg-black duration-500 hover:text-white items-center px-2 lg:m-auto ;
    }
    .career_paragrap{
      @apply text-[20px] font-normal;
    }
  }